<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/smartbanner/banner_style.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SmartBannerApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div id="body">
        @RenderBody()
    </div>

    <footer id="footer">
        @{
            <partial name="_FooterPage" />
        }
    </footer>

    <div class="smartbanner" id="smartabanner">
        <div class="smartbanner-container">
            <a href="#" id="smb-close" class="smartbanner-close">&times;</a>
            <span class="smartbanner-icon"></span>
            <div class="smartbanner-info">
                <div class="smartbanner-title">UMay+ Mobile Application</div>
                <div>สะดวก ปลอดภัย ครบทุกฟังก์ชันการใช้งาน</div>
                @*<span>Free &ndash; Google Play</span>*@
            </div>
            <a href="https://play.google.com/store/apps/details?id=com.aim.android.umay" target="_blank" class="smartbanner-button">
                <span class="smartbanner-button-text">Open ></span>
            </a>
        </div>
    </div>
</body>
</html>
